<app-loader [isLoading]="loading"></app-loader>
<header>
  <div class="container">
    <h1>Flight Tracking</h1>
  </div>
</header>
<section>
  <div class="card-container">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="search-container">
          <div class="ng-autocomplete">
            <ng-autocomplete #fromAirport [data]="airports" [searchKeyword]="keyword" placeholder="From"
              (selected)='selectFromEvent($event)' (inputChanged)='onFromChangeSearch($event)'
              (inputFocused)='onFromFocused($event)' (inputCleared)='onFromCleared($event)' historyIdentifier="from"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>

          <div class="icon-container">
            <fa-icon [icon]="toFrom" size="xl"></fa-icon>
          </div>
          <div class="ng-autocomplete">
            <ng-autocomplete #toAirport [data]="airports" [searchKeyword]="keyword" placeholder="To"
              (selected)='selectToEvent($event)' (inputChanged)='onToChangeSearch($event)'
              (inputFocused)='onToFocused($event)' (inputCleared)='onToCleared($event)' historyIdentifier="to"
              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="search-button-container">
          <button [disabled]="disabled" class="dashboard-search" (click)="getFlights()" class="cssbuttons-io-button">
            Search
            <div class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
<section>
  <div class="content">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let flight of flights" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{flight.flight_number}}
          </mat-panel-title>
          <mat-panel-description>
            {{flight.flight_name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="details-row">
          <div class="details-column">
            <span>IATA :</span><span>{{flight.flight_iata}}</span>
          </div>
          <div class="details-column">
            <span>ICAO :</span><span>{{flight.flight_icao}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Departure :</span><span>{{flight.dep_airport}}</span>
          </div>
          <div class="details-column">
            <span>Dep Country Code :</span><span>{{flight.dep_country}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Dep IATA :</span><span>{{flight.dep_iata}}</span>
          </div>
          <div class="details-column">
            <span>Dep ICAO :</span><span>{{flight.dep_icao}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Arrival :</span><span>{{flight.arr_airport}}</span>
          </div>
          <div class="details-column">
            <span>Arr Country Code :</span><span>{{flight.arr_country}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Arr IATA :</span><span>{{flight.arr_iata}}</span>
          </div>
          <div class="details-column">
            <span>Arr ICAO :</span><span>{{flight.arr_icao}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Airline IATA :</span><span>{{flight.airline_iata}}</span>
          </div>
          <div class="details-column">
            <span>Airline ICAO :</span><span>{{flight.aircraft_icao}}</span>
          </div>
        </div>
        <div class="details-row">
          <div class="details-column">
            <span>Status :</span><span>{{flight.status}}</span>
          </div>
          <div class="details-column">
            <span>Location :</span><span (click)="openLocation(flight.lat,flight.lng)" class="flight-link">View</span>
        </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>